{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Python Getting Started on Heroku</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!--START OWN SCRIPTS-->
  <script type="text/javascript" src="{% static 'script/script.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
  <!--END OWN SCRIPTS-->
  {% block css %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span>Assistant</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>
