{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'pics/lang-logo.png'%}">
    </a>
    <h1>Hello World</h1>
    <p>Hello World Paragraph</p>
    <a type="button" class="btn btn-lg btn-default" href="null"><span class="glyphicon glyphicon-flash"></span>Flash Button</a>
    <a type="button" class="btn btn-lg btn-primary" href="null"><span class="glyphicon glyphicon-download"></span>Download button</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Alert Hello World
  </div>
  <hr>
   <div class="alert alert-info text-center" role="alert">
    Alert
  </div>
</div>
{% endblock %}
