.assistant-head {
    background-color: #f2e6d7;
    height: 500px;
    width: 500px;
    right: 50%;
    margin-right: -250px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #f2e6d7, #928574);
}
.assistant-eye-iris {
    right: 50%;
    margin-right: -25px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    top: 50px;
    position: absolute;
}
.assistant-eye-pupil {
    right: 50%;
    margin-right: -10px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    top: 40px;
    position: absolute;
}
.assistant-eye-left {
    left: 100px;
}
.assistant-eye-right {
    right: 100px;
}
.assistant-eye {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    top: 100px;
    border: 1px solid grey;
    border-radius: 50%;
}