.assistant-head {
    background-color: #f2e6d7;
    height: 500px;
    width: 500px;
    right: 50%;
    margin-right: -250px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #f2e6d7, #928574);
}