{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'assistant/style.css'%}" />
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{% static 'assistant/script.js'%}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Alert Hello Assistent
  </div>
  <hr>
   <div class="assistant-head">
       <div class="assistant-eye assistant-eye-left"><div class="assistant-eye-iris"><div class="assistant-eye-pupil"></div></div></div>
       <div class="assistant-eye assistant-eye-right"><div class="assistant-eye-iris"><div class="assistant-eye-pupil"></div></div></div>
   </div>
</div>
{% endblock %}
