.head {
    height: 500px;
    width: 500px;
    right: 50%;
    margin-right: -250px;
    position: absolute;
    border-radius: 50%;
}
.eye-iris {
    right: 50%;
    margin-right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 10px;
    position: absolute;
}
.eye-pupil {
    right: 50%;
    margin-right: -10px;
    border-radius: 50%;
    top: 16px;
    position: absolute;
}
.eye-left {
    left: 100px;
}
.eye-right {
    right: 100px;
}
.eye {
    position: absolute;
    top: 120px;
    border: 1px solid grey;
    border-radius: 50%;
}
.mouth {
    /*position: absolute;
    width: 250px;
    height: 5px;
    top: 350px;
    left: 50%;
    margin-left: -125px;
    background-color: black;*/
}
/*START EYE OPEN*/
.eye-open {
    position: absolute;
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.eye-open > .eye-iris {
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 30px;
    top: 30px;
}
/*END EYE OPEN*/
/*START EYE SHUT*/
.eye-shut {
    position: absolute;
    background-color: black;
    width: 80px;
    height: 5px;
    margin-top: 25px;
    border-radius: 50%;
}/*
.eye-shut > .eye-iris {
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 10px;
    top: 25px;
}
END EYE SHUT*/